body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container-dark{
     background-image: url('../images/bgDark.png');
     background-color: #00001f;
     align-items: center;
     justify-content: center;
     height: 100vh;
}

#container-light{
    background-image: url('../images/bgLight.png');
    background-color: #bfbfff;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

#container-not-supported{
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

img.bat {
    position: absolute;
    width: 370px;
    animation: heartbeat 3s ease-in-out infinite both;
}

img.bat-sleeping {
    position: absolute;
    width: 335px;
    top: -100px;
    animation: heartbeat 10s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.z{
    position: absolute;
    color: black;
    font-family: arial;
    font-size: 0;
    font-weight: bold;
}

button{
    position: absolute;
}